## Final Project Submission

Please fill out:
* Student name: 
* Student pace: self paced / part time / full time
* Scheduled project review date/time: 
* Instructor name: 
* Blog post URL:

In [ ]:
#Dan Kagan | Online Self-Paced | PROJECT TIME | 
#Instructor: Jeff Herman | https://medium.com/@dankagan7/data-science-and-me-1d3e8a7d8bf2

#Module 1 Project Assignment:
# Your team is charged with doing data analysis and creating a presentation 
#...that explores what type of films are currently doing the best at the box office. 
#...You must then translate those findings into actionable insights that the CEO 
#...can use when deciding what type of films they should be creating.


###Potential Questions for Research
# What genre are the top 25 grossing movies? Domestic? Foreign? Both?
# What kind of dropoffs are there by gross rank - who stands out?
# Most successful studios? What kind of movies do they make? Are they good to imitate?
# Identify the most successul directors & actors (matches on titles) Strategy based off results?
# Check success of movies that receives good ratings - how much does it help with success?
# Sort by top ratings by reviewers. Any patterns?
# Movies table -> Revisit table
# Patterns in movie_budgets?

In [74]:
#Visualization 1 - TMDB "tmdb.movies.csv"
#Question: What are the most popular movie genres on TMDB?

#Imports
import numpy as np
import pandas as pd

#Convert CSV file to DataFrame object and orient myself with the data
df = pd.read_csv('/Users/DanKagan/Development/Flatiron_Assignments/online_datascience/mod_1/mod1_project/dsc-mod-1-project-v2-1-online-ds-sp-000/zippedData/tmdb.movies.csv')
#df.info()

#Clean up DataFrame column names
df = df.rename(columns={
    'Unnamed: 0' : 'Film ID',
    'genre_ids' : 'Genre IDs',
    'original_language' : 'Original Language',
    'original_title' : 'Original Title',
    'popularity' : 'Popularity Rating',
    'release_date' : 'Release Date',
    'title' : 'Film Title',
    'vote_average' : 'Average Vote Score',
    'vote_count' : 'Total Votes'
})

#Remove columns with irrelevant data
df = df.set_index('Film ID')
df = df.drop('id', axis=1)
df = df.drop('Original Language', axis=1)
df = df.drop('Genre IDs', axis=1)
df = df.drop(23819) #Specifically drops a duplicate record of Ragnarok from Top 25 (row)
df = df.drop(20617) #Specifically drops a duplicate record of Blade Runner 2049 from Top 25 (row)

#Turn Release Date column data from strings to Date objects
pd.to_datetime(df['Release Date'])

#Sort entire dataset by 'Popularity Rating', formerly 'popularity'
df_tmdb_popularity_viz = df.sort_values(by='Popularity Rating', ascending=False)
#Show Top 25 most popular films
df_tmdb_popularity_viz.head(25)

,Original Title,Popularity Rating,Release Date,Film Title,Average Vote Score,Total Votes
Film ID,,,,,,
23811,Avengers: Infinity War,80.773,2018-04-27,Avengers: Infinity War,8.3,13948
11019,John Wick,78.123,2014-10-24,John Wick,7.2,10081
23812,Spider-Man: Into the Spider-Verse,60.534,2018-12-14,Spider-Man: Into the Spider-Verse,8.4,4048
11020,The Hobbit: The Battle of the Five Armies,53.783,2014-12-17,The Hobbit: The Battle of the Five Armies,7.3,8392
5179,The Avengers,50.289,2012-05-04,The Avengers,7.6,19673
11021,Guardians of the Galaxy,49.606,2014-08-01,Guardians of the Galaxy,7.9,17958
23813,Blade Runner 2049,48.571,2017-10-06,Blade Runner 2049,7.4,6679
23814,Fantastic Beasts: The Crimes of Grindelwald,48.508,2018-11-16,Fantastic Beasts: The Crimes of Grindelwald,6.9,4870
23815,Ralph Breaks the Internet,48.057,2018-11-21,Ralph Breaks the Internet,7.2,2626
20618,Spider-Man: Homecoming,46.775,2017-07-07,Spider-Man: Homecoming,7.4,11585
20619,John Wick: Chapter 2,45.253,2017-02-10,John Wick: Chapter 2,7.0,5863
20620,Logan,45.000,2017-03-03,Logan,7.8,12330
23816,Ant-Man and the Wasp,44.729,2018-07-06,Ant-Man and the Wasp,7.0,6290
14169,Avengers: Age of Ultron,44.383,2015-05-01,Avengers: Age of Ultron,7.3,13457
23817,Black Panther,44.140,2018-02-16,Black Panther,7.4,12365
23818,Venom,44.007,2018-10-05,Venom,6.6,6206
20621,Thor: Ragnarok,43.450,2017-11-03,Thor: Ragnarok,7.5,11380
23820,Bumblebee,43.078,2018-12-21,Bumblebee,6.5,2425
11022,X-Men: Days of Future Past,41.867,2014-05-23,X-Men: Days of Future Past,7.5,10062
20622,Guardians of the Galaxy Vol. 2,40.228,2017-05-05,Guardians of the Galaxy Vol. 2,7.7,12535
23821,Mortal Engines,40.095,2018-12-14,Mortal Engines,6.0,1751
23822,Robin Hood,39.975,2018-11-21,Robin Hood,5.8,1194
17381,X-Men: Apocalypse,39.293,2016-05-27,X-Men: Apocalypse,6.5,8348
17382,Captain America: Civil War,39.137,2016-05-06,Captain America: Civil War,7.4,14000
23823,Deadpool 2,38.894,2018-05-10,Deadpool 2,7.5,8773

In [75]:
#Data Analysis of Top 25 TMDB most Popular films

#Average Popularity Rating among the Top 25 most popular TMDB films
df_popularity_viz['Popularity Rating'].head(25).mean()

47.94191999999999

In [76]:
#Average Vote Score among the Top 25 most popular TMDB films
df_popularity_viz['Average Vote Score'].head(25).mean()

7.244

In [ ]:
#As we can see from the list of TMDB's 25 Most Popular films, it is apparent that the most popular
#genres of films are Super Hero movies, Well-Known Series (non-Super Hero like LOTR, Star Wars, etc.), and Children's movies.

#15 of the top 25 are Super Heroe movies (60%)
#4 of the top 25 are Well-Known Series (16%)
#3 of the top 25 are Childerns movies (12%)
#3 of the top 25 are One-off successful films (12%)

#The fact that Super Hero & Well-Known Series films makeup over 3/4 of TMDB's top 25 most popular movies
#is an incredibly compelling statistic if Microsoft decides to create new content.
#Unfortunately, Microsoft is late to this strategy and would thus have to be creative about how they
#could participate in creating these movies when Marvel Comic Universe, Sony, Universal and Disney all own the 
#vast majority of intellectual property rights for these film series. Otherwise they will be spending a lot of money
#on the ability to try and make a decent film from one (or many) super hero or well-known characters.

In [85]:
#Visualization 2 - The Movie Data Base "tmdb.movies.csv"
#Question: What are the most lucrative types of films?

#Convert CSV file to DataFrame object and orient myself with the data
df2 = pd.read_csv('/Users/DanKagan/Development/Flatiron_Assignments/online_datascience/mod_1/mod1_project/dsc-mod-1-project-v2-1-online-ds-sp-000/zippedData/bom.movie_gross.csv')

#Clean up DataFrame column names
df2 = df2.rename(columns={
    'title' : 'Title',
    'studio' : 'Studio'
})

df2.head()

,Title,Studio,domestic_gross,foreign_gross,grand_total_gross,year
0,Toy Story 3,BV,415000000.0,652000000,1.067000e+09,2010
1,Alice in Wonderland (2010),BV,334200000.0,691300000,1.025500e+09,2010
2,Harry Potter and the Deathly Hallows Part 1,WB,296000000.0,664300000,9.603000e+08,2010
3,Inception,WB,292600000.0,535700000,8.283000e+08,2010
4,Shrek Forever After,P/DW,238700000.0,513900000,7.526000e+08,2010